@model MiniBank.User
@{
    ViewBag.Title = "Open Account";
}

<style>
    body {
        font-family: 'Helvetica';
    }

    .AccountForm form {
        width: fit-content;
        background: #fff;
        padding: 1vmin 2vmin;
        margin: 50px auto;
        box-shadow: 2px 2px 3px #aaa;
        overflow: hidden;
        min-width: 400px;
    }

    .AccountForm label {
        min-width: 60px;
        width: 100%;
        text-align: left !important;
    }

    .AccountForm .check > label {
        min-width: 127px;
    }

    .AccountForm input {
        width: 100% !important;
        max-width: 100%;
    }

        .AccountForm input[type="submit"] {
            width: 100%;
            font-weight: bold;
            font-size: 1.1em;
            background-color: #74f2b7;
            border: 1px solid #6fe4a3;
        }

            .AccountForm input[type="submit"]:hover {
                background-color: #93ffcd;
                border: 1px solid #6fe4a3;
            }

            .AccountForm input[type="submit"]:active,
            .AccountForm input[type="submit"]:focus {
                background-color: #50dc9a !important;
                border: 1px solid #57b983 !important;
            }
</style>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div style="margin:50px;" class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message You can view your new account @Html.ActionLink("here", "Dashboard", "Home")
        </div>
    }
}
else
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="AccountForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div style="
                height: 100px;
                width: 110%;
                background: #74f2b7;
                margin: -15px 0 30px -15px;
            "> <h2 style="text-align:center;margin: 0;padding: 40px; font-weight:bold;">Open Account</h2></div>

                @if (ViewBag.Message != null && ViewBag.Message != "")
                {
                    if (ViewBag.Warning != null)
                    {
                        <div class="alert alert-warning">
                            <strong>Ooops! </strong>@ViewBag.Message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Ooops! </strong>@ViewBag.Message
                        </div>
                    }
                }
                @*<h2 style="text-align:center">Login</h2>*@

                <div style="padding:0 50px;">
                    <div class="form-group">
                        <label class="control-label col-md-2">Account Name</label>
                        <div class="col-md-12">
                            <input type="text" name="AccountName" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Open Account" class="btn" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}